<h1>Editing accomplishment</h1>

<%= render "form", accomplishment: @accomplishment %>

<br>

<div>
  <%= link_to "Show this accomplishment", @accomplishment %> |
  <%= link_to "Back to accomplishments", accomplishments_path %>
</div>
