<div id="<%= dom_id focus_area %>">
  <p>
    <strong>User:</strong>
    <%= focus_area.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= focus_area.name %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= focus_area.color %>
  </p>

</div>
